* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.body {
  height: 3000px;
  width: 100%;
}

.landingSpacer {
  height: 95vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  width: 100%;
}
nav .userItemsCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50%;
  width: 75%;
  margin-top: 30px;
}
nav .navItemsCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  height: 50%;
  width: 75%;
}

.unifiedLogo {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f5f5f5;
  font-size: 1.4em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.unifiedLogo:hover {
  color: #fe6f5e;
}

.userEmptySpace {
  height: 100%;
  width: 73%;
}

.userItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f5f5f5;
  font-size: 0.9em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.userItem:hover {
  color: #fe6f5e;
}

.navEmptySpace {
  height: 100%;
  width: 55%;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f5f5f5;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.navItem:hover {
  color: #fe6f5e;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 80vh;
  width: 100%;
}
.landing .landingContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80%;
  width: 75%;
}

.flightsFormCon {
  height: 100%;
  width: 40%;
  background-color: #f5f5f5;
}

.flightsNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 20%;
  width: 100%;
}
.flightsNav .flightsNavItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 100%;
  width: 25%;
  background-color: aqua;
}
.flightsNav .flightsNavItem a {
  font-size: larger;
  text-decoration: none;
}
.flightsNav .formTitle {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
}

.extraInfo {
  height: 90%;
  width: 20%;
  background-color: black;
  opacity: 0.5;
}

.contentSpacer {
  height: 70vh;
  width: 100%;
  background-color: #f5f5f5;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.content .contentHeader {
  height: 20%;
  width: 75%;
  background-color: bisque;
}
.content .contentBody {
  height: 80%;
  width: 75%;
  background-color: #f5f5f5;
}

