* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.landingSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/424172/pexels-photo-424172.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 125px;
  width: 100%;
}
nav .userItemsCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  row-gap: 10px;
  height: auto;
  width: 75%;
}
nav .navItemsCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  row-gap: 10px;
  height: auto;
  width: 75%;
}

.unifiedLogo {
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f5f5f5;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.unifiedLogo a {
  color: #f5f5f5;
  font-size: 1.3em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.unifiedLogo a:hover {
  color: #002244;
}

.userEmptySpace {
  height: auto;
  width: 70%;
}

.userItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: auto;
  color: #f5f5f5;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.userItem a {
  color: #f5f5f5;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.userItem a:hover {
  color: #002244;
}

.navEmptySpace {
  height: 100%;
  width: 50%;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  height: auto;
  width: auto;
  color: #f5f5f5;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.navItem a {
  color: #f5f5f5;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.navItem a:hover {
  color: #002244;
}

#blueNav {
  background-color: #002244;
}
#blueNav .userItemsCon .unifiedLogo a {
  color: #f5f5f5;
  text-decoration: none;
}
#blueNav .userItemsCon .unifiedLogo a:hover {
  color: black;
}
#blueNav .userItemsCon .userItem a {
  color: #f5f5f5;
  text-decoration: none;
}
#blueNav .userItemsCon .userItem a:hover {
  color: black;
}
#blueNav .userItemsCon .navItem a {
  color: #f5f5f5;
  text-decoration: none;
}
#blueNav .userItemsCon .navItem a:hover {
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  padding: 20px;
  background-color: #e9e9f3;
}
footer .footerCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 75%;
  height: 100%;
  row-gap: 20px;
}
footer .footerCon .footerRowCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 10px;
}
footer .footerCon .footerRowCon .footerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
}
footer .footerCon .footerRowCon .footerRow .footerSocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 25%;
  row-gap: 50px;
}
footer .footerCon .footerRowCon .footerRow .legalCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 15%;
}
footer .footerCon .footerRowCon .footerRow .legalCon .legalA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  color: #002244;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
footer .footerCon .footerRowCon .footerRow .copyright .copyrightP {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  color: #002244;
  font-size: 0.6em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.landing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 700px;
  width: 75%;
}
.landing .landingContent {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 75%;
}

.flightsFormCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 475px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f5f5f5;
}

.flightsNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 75px;
  width: 100%;
  background-color: #002244;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.flightsNav .flightsNavItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 100%;
  width: 25%;
  padding: 10px;
}
.flightsNav .flightsNavItem a {
  font-size: larger;
  text-decoration: none;
  color: #f5f5f5;
}

.formCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.formCon form {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  row-gap: 20px;
}
.formCon form .typeTicketCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 10px;
}
.formCon form .whereFromCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 10px;
}
.formCon form .whenCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 20px;
}
.formCon form .classCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 10px;
}

.radioLabel {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
.radioLabel .radioInput {
  position: absolute;
  left: -9999px;
}
.radioLabel .radioInput:checked + .radioSpan {
  background-color: #d6dce1;
}
.radioLabel .radioInput:checked + .radioSpan:before {
  box-shadow: inset 0 0 0 0.4375em #002244;
}
.radioLabel .radioSpan {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
.radioLabel .radioSpan:hover {
  background-color: #d6dce1;
}
.radioLabel .radioSpan:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #002244;
}

.group {
  height: auto;
  overflow: hidden;
  position: relative;
}

.textLabel {
  position: absolute;
  top: 6.6666666667px;
  color: rgba(0, 0, 0, 0.9);
  font: 400 20px Roboto;
  cursor: text;
  transition: 0.25s ease;
}

.textInput {
  display: block;
  width: 100%;
  padding-top: 13.3333333333px;
  border: none;
  border-radius: 5px;
  color: black;
  background: none;
  font-size: 20px;
  transition: 0.3s ease;
}
.textInput:valid ~ .textLabel {
  top: 0;
  font: 700 8px Roboto;
  color: rgba(0, 0, 0, 0.5);
}
.textInput:focus {
  outline: none;
  border-bottom-color: #002244;
}
.textInput:focus ~ .textLabel {
  top: 0;
  font: 700 10px Roboto;
  color: #002244;
}
.textInput:focus ~ .bar:before {
  transform: translateX(0);
}

.bar {
  background: #002244;
  width: 200px;
  height: 1px;
  position: relative;
}

#loginFormGroup #generalTextInput {
  padding-top: 13.3333333333px;
  font-size: 13.3333333333px;
}
#loginFormGroup #generalTextInput:valid ~ .textLabel {
  font: 700 8px Roboto;
}
#loginFormGroup #generalTextInput:focus ~ .textLabel {
  font: 700 10px Roboto;
}
#loginFormGroup #generalBar {
  width: 200px;
}

.flightsButtonCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: 15%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.flightsButtonCon .flightsButton {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #002244;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s;
}
.flightsButtonCon .flightsButton:hover {
  background-color: #001429;
}
.flightsButtonCon .flightsButton a {
  font-size: larger;
  text-decoration: none;
  color: #f5f5f5;
}

.extraInfo {
  height: 90%;
  width: 20%;
  background-color: black;
  opacity: 0.5;
}

.contentSpacer {
  height: 70vh;
  width: 100%;
  background-color: #f5f5f5;
}

.content {
  height: 100%;
  width: 100%;
}
.content .contentHeader {
  height: 20%;
  width: 75%;
  background-color: bisque;
}
.content .contentBody {
  height: 80%;
  width: 75%;
  background-color: #f5f5f5;
}

.welcomeContentSpacer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: #f5f5f5;
  row-gap: 30px;
  padding: 30px;
}
.welcomeContentSpacer .welcomeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
}
.welcomeContentSpacer .welcomeTitle h1 {
  font-size: 60px;
  font-weight: bold;
  color: #002244;
}
.welcomeContentSpacer .welcomeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 50px;
}
.welcomeContentSpacer .welcomeContent .welcomeText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 75%;
  font-size: 15px;
}
.welcomeContentSpacer .welcomeContent .welcomeItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 90%;
}
.welcomeContentSpacer .welcomeContent .welcomeItems a {
  text-decoration: none;
  color: #002244;
  font-size: 20px;
  font-weight: bold;
}
.welcomeContentSpacer .welcomeContent .welcomeItems a .welcomeItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 325px;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
  row-gap: 20px;
  padding: 5px;
  border-radius: 5px;
  transition: ease-in 0.5s;
}
.welcomeContentSpacer .welcomeContent .welcomeItems a .welcomeItem:hover {
  width: 350px;
}
.welcomeContentSpacer .welcomeContent .welcomeItems a .welcomeItem .welcomeItemImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.welcomeContentSpacer .welcomeContent .welcomeItems a .welcomeItem .welcomeItemImage img {
  height: 100%;
  width: 100%;
}
.welcomeContentSpacer .welcomeContent .welcomeItems a .welcomeItem .welcomeItemText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
}
.welcomeContentSpacer .welcomeContent .welcomeItems a .welcomeItem .welcomeItemText p {
  font-size: 15px;
  color: #002244;
}

.loginSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 100%;
}

.loginCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 525px;
}
.loginCon .loginForms {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 475px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
}

.loginHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  background-color: #002244;
  height: auto;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  padding: 20px;
  font-size: 20px;
  color: #f5f5f5;
}

.loginFormCon {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #f5f5f5;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.forgot-register-Con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 20px;
}
.forgot-register-Con .forgotPass {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: auto;
}
.forgot-register-Con .registerCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: auto;
}

.loginButtonCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  width: 100%;
}
.loginButtonCon .loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: #002244;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s;
}
.loginButtonCon .loginButton:hover {
  background-color: #001429;
}
.loginButtonCon .loginButton a {
  font-size: larger;
  text-decoration: none;
  color: #f5f5f5;
}

.registerSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 100%;
}

#blueNav {
  background-color: #002244;
}

.registerCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 525px;
}
.registerCon .registerForms {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 475px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
}

.registerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  background-color: #002244;
  height: auto;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  padding: 20px;
  font-size: 20px;
  color: #f5f5f5;
}

.registerFormCon {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #f5f5f5;
}

.registerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.registerButtonCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  width: 100%;
}
.registerButtonCon .registerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: #002244;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s;
}
.registerButtonCon .registerButton:hover {
  background-color: #001429;
}
.registerButtonCon .registerButton a {
  font-size: larger;
  text-decoration: none;
  color: #f5f5f5;
}

.tripsSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  row-gap: 30px;
}

#blueNav {
  background-color: #002244;
}

.searchSpacer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 100%;
  background-color: #e9e9f3;
}

.searchTitleCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 70%;
  padding-bottom: 10px;
}
.searchTitleCon .searchFormTitle {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: 100%;
  width: 100%;
  color: #002244;
  font-size: 25px;
}

.searchCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 75%;
}

.searchForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 20px;
}
.searchForm input {
  height: 60px;
  width: 70%;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: solid #002244 3px;
  padding: 15px;
}
.searchForm .searchButton {
  height: 60px;
  width: 200px;
  border-radius: 5px;
  border: solid #002244 3px;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s;
}
.searchForm .searchButton:hover {
  background-color: #001429;
}
.searchForm .searchButton:hover a {
  color: #f5f5f5;
}
.searchForm .searchButton .buttonA {
  font-size: larger;
  text-decoration: none;
  color: #002244;
}

.allTripsSpacer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
}

.tripsCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 50px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.tripCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: 575px;
  width: 400px;
  padding: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25), 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.tripCon .tripImageCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 375px;
  width: 100%;
  background-color: #001429;
}
.tripCon .tripImageCon .tripImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 100%;
  width: 100%;
}
.tripCon .tripInfo {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 10px;
}
.tripCon .tripInfo .tripName {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 30px;
}
.tripCon .tripInfo .tripDescription {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 20px;
}
.tripCon .tripInfo .tripDate {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 17.5px;
}
.tripCon .tripInfo .moreInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
}
.tripCon .tripInfo .moreInfo .moreInfoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: #002244;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s;
}
.tripCon .tripInfo .moreInfo .moreInfoButton:hover {
  background-color: #001429;
}
.tripCon .tripInfo .moreInfo .moreInfoButton a {
  font-size: larger;
  text-decoration: none;
  color: #f5f5f5;
}
.tripCon .tripInfo .moreInfo .tripPrice {
  font-size: 17.5px;
}

.showTripSpacer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  row-gap: 50px;
  padding: 30px;
}
.showTripSpacer .tripShowCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 50px;
  padding: 30px;
}
.showTripSpacer .tripShowCon .tripShowInfoCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  max-width: 900px;
  padding: 30px;
  row-gap: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}
.showTripSpacer .tripShowCon .tripShowInfoCon .tripShowImageCon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 375px;
  width: 100%;
}
.showTripSpacer .tripShowCon .tripShowInfoCon .tripShowImageCon .tripShowImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 100%;
  width: auto;
}
.showTripSpacer .tripShowCon .tripShowInfoCon .tripShowInfo {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 10px;
  align-items: flex-start;
}
.showTripSpacer .tripShowCon .tripShowInfoCon #tripShowInfoRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 10px;
  align-items: flex-start;
}

.reizenShowTitleCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.reizenShowTitleCon .reizenShowTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 35px;
}

.reviewsSpacer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  row-gap: 50px;
  padding: 30px;
}
.reviewsSpacer .reviewsCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 50px;
  padding: 30px;
}
.reviewsSpacer .reviewsCon .reviewTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.reviewsSpacer .reviewsCon .reviewTitle h2 {
  font-size: 35px;
}
.reviewsSpacer .reviewsCon .reviewsBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 20px;
  padding: 30px;
}
.reviewsSpacer .reviewsCon .reviewsBody .reviewsBodyCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  row-gap: 20px;
  padding: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}
.reviewsSpacer .reviewsCon .reviewsBody .reviewsBodyCon .reviewsBodyTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.reviewsSpacer .reviewsCon .reviewsBody .reviewsBodyCon .reviewsBodyTitle h2 {
  font-size: 35px;
}
.reviewsSpacer .reviewsCon .reviewsBody .reviewsBodyCon .reviewsBodyText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.reviewsSpacer .reviewsCon .reviewsBody .reviewsBodyCon .reviewsBodyText h2 {
  font-size: 35px;
}

.reviewSpacer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px;
  row-gap: 50px;
}

.reviewCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
}
.reviewCon .reviewForms {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
}
.reviewCon .reviewForms .reviewHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  background-color: #002244;
  height: auto;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  padding: 20px;
  font-size: 20px;
  color: #f5f5f5;
}
.reviewCon .reviewForms .reviewFormCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}
.reviewCon .reviewForms .reviewFormCon form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 20px;
}
.reviewCon .reviewForms .reviewFormCon form .reviewFormItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
}
.reviewCon .reviewForms .reviewFormCon form .reviewFormItem .reviewFormItemInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 20px;
}
.reviewCon .reviewForms .reviewFormCon form .reviewFormItem .reviewFormItemTextarea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 150px;
  width: 225px;
  font-size: 20px;
}

.adminSpacer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px;
  row-gap: 50px;
}
.adminSpacer .adminCon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 75%;
  height: auto;
}
.adminSpacer .adminCon .adminItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 425px;
  width: 200px;
  transition: ease-in 0.5s;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25), 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}
.adminSpacer .adminCon .adminItem:hover {
  width: 250px;
}
.adminSpacer .logoutCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 75%;
}

.adminTripsSpacer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px;
  row-gap: 50px;
}
.adminTripsSpacer .createTripCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 75%;
}
.adminTripsSpacer .tripConAdmin {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 400px;
  padding: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25), 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}
.adminTripsSpacer .tripConAdmin .tripImageCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 375px;
  width: 100%;
  background-color: #001429;
}
.adminTripsSpacer .tripConAdmin .tripImageCon .tripImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 100%;
  width: 100%;
}
.adminTripsSpacer .tripConAdmin .tripInfo {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 10px;
}
.adminTripsSpacer .tripConAdmin .tripInfo .tripName {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 30px;
}
.adminTripsSpacer .tripConAdmin .tripInfo .tripDescription {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 20px;
}
.adminTripsSpacer .tripConAdmin .tripInfo .tripDate {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 17.5px;
}
.adminTripsSpacer .tripConAdmin .tripInfo .moreInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
}
.adminTripsSpacer .tripConAdmin .tripInfo .moreInfo .moreInfoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: #002244;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s;
}
.adminTripsSpacer .tripConAdmin .tripInfo .moreInfo .moreInfoButton:hover {
  background-color: #001429;
}
.adminTripsSpacer .tripConAdmin .tripInfo .moreInfo .moreInfoButton a {
  font-size: larger;
  text-decoration: none;
  color: #f5f5f5;
}
.adminTripsSpacer .tripConAdmin .tripInfo .moreInfo .tripPrice {
  font-size: 17.5px;
}

.adminTitleCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.adminTitleCon .adminTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 35px;
}
.adminTitleCon .adminSubTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 17.5px;
}

.TitleCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.TitleCon .Title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 35px;
}
.TitleCon .SubTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 17.5px;
}

.moreInfoAdmin {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  row-gap: 10px;
}

.generalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: #002244;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s;
}
.generalButton:hover {
  background-color: #001429;
}
.generalButton a {
  font-size: larger;
  text-decoration: none;
  color: #f5f5f5;
}

.SgeneralButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 40px;
  width: 75px;
  border-radius: 5px;
  background-color: #002244;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s;
}
.SgeneralButton:hover {
  background-color: #001429;
}
.SgeneralButton a {
  font-size: medium;
  text-decoration: none;
  color: #f5f5f5;
}

.adminFormCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: auto;
  padding: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}
.adminFormCon .adminForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
}
.adminFormCon .adminForm form {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 10px;
}
.adminFormCon .adminForm form .adminInput_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
}
.adminFormCon .adminForm form .adminInput_label .adminLabel {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 20px;
}
.adminFormCon .adminForm form .adminInput_label .adminInput {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: auto;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  padding: 10px;
  font-size: 17.5px;
}

.adminUsersCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px;
}
.adminUsersCon .usersCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 500px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  padding: 15px;
}
.adminUsersCon .usersCon .usersColumns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #d4d4d0;
}
.adminUsersCon .usersCon .usersColumns .usersColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
}
.adminUsersCon .usersCon .userItemsCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 5px;
}
.adminUsersCon .usersCon .userItemsCon .userItemCon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #d4d4d0;
}
.adminUsersCon .usersCon .userItemsCon .userItemCon .userItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 17.5px;
}

.sideBySideTable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  max-width: 800px;
  background-color: #f5f5f5;
  row-gap: 30px;
  padding: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}
.sideBySideTable .sideBySideTableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  border-bottom: 1px solid #d4d4d0;
}
.sideBySideTable .sideBySideTableRow .sideBySideTableCTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 50%;
  font-size: 17.5px;
  padding: 15px;
}
.sideBySideTable .sideBySideTableRow .sideBySideTableItemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 50%;
  padding: 15px;
  font-size: 17.5px;
}
.sideBySideTable .sideBySideTableRow .sideBySideTableItemInfo #validateReview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
}
.sideBySideTable .sideBySideTableRow .sideBySideTableItemInfo #validateReview .validateReviewSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 40px;
  width: 125px;
  font-size: 17.5px;
}

#ContentP {
  font-size: 12.5px;
}

.aboutSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
}
.aboutSpacer .aboutContentSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 75%;
  row-gap: 17.5px;
  padding: 30px;
}
.aboutSpacer .aboutContentSpacer .aboutTitle {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 25px;
}
.aboutSpacer .aboutContentSpacer .aboutTextCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 17.5px;
}
.aboutSpacer .aboutContentSpacer .aboutTextCon .aboutText {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 17.5px;
}

.legalSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
}
.legalSpacer .legalContentSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 75%;
  row-gap: 17.5px;
  padding: 30px;
}
.legalSpacer .legalContentSpacer .legalTitle {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 25px;
}

.userProfileSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px;
}
.userProfileSpacer .userProfileContentSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 75%;
  row-gap: 30px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 100px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userProfileInfo {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  row-gap: 30px;
  padding: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userProfileInfo .userProfileInfoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 25px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userProfileInfo .userProfileBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 20px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userProfileInfo .userProfileBody .userProfileDetailCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 5px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userProfileInfo .userProfileBody .userProfileDetailCon .userProfileDetailTitle {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 17.5px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userProfileInfo .userProfileBody .userProfileDetailCon .userProfileDetail {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 15px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userActionsShow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 100px;
  row-gap: 30px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userActionsShow .bookingsCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 30px;
  row-gap: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userActionsShow .bookingsCon .bookingsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 15px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userActionsShow .bookingsCon .bookingsBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 20px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userActionsShow .reviewsCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 30px;
  row-gap: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userActionsShow .reviewsCon .reviewsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 15px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileContentCon .userActionsShow .reviewsCon .reviewsBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 20px;
}

.contactSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px;
}
.contactSpacer .contactContentSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 75%;
  row-gap: 30px;
}
.contactSpacer .contactContentSpacer .contactTitle {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 5px;
}
.contactSpacer .contactContentSpacer .contactUsFormCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 100%;
  width: 100%;
}
.contactSpacer .contactContentSpacer .contactUsFormCon .contactUsForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: auto;
  padding: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}
.contactSpacer .contactContentSpacer .contactUsFormCon .contactUsForm form {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 15px;
}
.contactSpacer .contactContentSpacer .contactUsFormCon .contactUsForm form .contactInput_label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  row-gap: 20px;
}
.contactSpacer .contactContentSpacer .contactUsFormCon .contactUsForm form .contactInput_label .contactLabel {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 20px;
}
.contactSpacer .contactContentSpacer .contactUsFormCon .contactUsForm form .contactInput_label .contactInput {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: auto;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  padding: 10px;
  font-size: 17.5px;
}

.userProfileSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px;
}
.userProfileSpacer .userProfileContentSpacer {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 75%;
  row-gap: 17.5px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 25px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileTextCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  row-gap: 17.5px;
}
.userProfileSpacer .userProfileContentSpacer .userProfileTextCon .userProfileText {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: auto;
  width: 100%;
  font-size: 17.5px;
}

@media screen and (max-width: 420px) {
  .landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 100%;
  }

  .flightsFormCon {
    width: 400px;
  }

  .landingContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .landingContent .landingBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    row-gap: 30px;
  }
  .landingContent .landingBody .landingBodyText {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: none;
    height: auto;
    width: 100%;
    font-size: 17.5px;
  }

  .userItemsCon {
    flex-wrap: wrap;
  }

  .welcomeItems {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .userItemsCon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    row-gap: 10px;
    height: auto;
    width: 100%;
  }

  .userEmptySpace {
    display: none;
  }

  .navItemsCon {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
    row-gap: 10px;
    height: auto;
    width: 100%;
  }

  .unifiedLogo a {
    font-size: 1em;
  }

  .userItem a {
    font-size: 0, 9em;
  }
}


