* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.body {
  height: 3000px;
  width: 100%;
}

.landingSpacer {
  height: 95vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  width: 100%;
}
nav .userItemsCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50%;
  width: 75%;
  margin-top: 30px;
}
nav .navItemsCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  height: 50%;
  width: 75%;
}

.unifiedLogo {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f5f5f5;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.unifiedLogo:hover {
  color: #002244;
}

.userEmptySpace {
  height: 100%;
  width: 73%;
}

.userItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f5f5f5;
  font-size: 0.9em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.userItem:hover {
  color: #002244;
}

.navEmptySpace {
  height: 100%;
  width: 55%;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f5f5f5;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.navItem:hover {
  color: #002244;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 80vh;
  width: 100%;
}
.landing .landingContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80%;
  width: 75%;
}

.flightsFormCon {
  height: 100%;
  width: 40%;
  background-color: #f5f5f5;
}

.flightsFormCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 40%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f5f5f5;
}

.flightsNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 15%;
  width: 100%;
  background-color: #002244;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.flightsNav .flightsNavItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  height: 100%;
  width: 25%;
}
.flightsNav .flightsNavItem a {
  font-size: larger;
  text-decoration: none;
  color: #f5f5f5;
}

.findFlightsForm {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.typeTripCon {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  height: 20%;
  width: 100%;
}

.radioLabel {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
.radioLabel .radioInput {
  position: absolute;
  left: -9999px;
}
.radioLabel .radioInput:checked + .radioSpan {
  background-color: #d6dce1;
}
.radioLabel .radioInput:checked + .radioSpan:before {
  box-shadow: inset 0 0 0 0.4375em #002244;
}
.radioLabel .radioSpan {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
.radioLabel .radioSpan:hover {
  background-color: #d6dce1;
}
.radioLabel .radioSpan:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #002244;
}

.fromToCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 20%;
  width: 100%;
}

.group {
  width: 45%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.textLabel {
  position: absolute;
  top: 13.3333333333px;
  color: rgba(0, 0, 0, 0.5);
  font: 400 13.3333333333px Roboto;
  cursor: text;
  transition: 0.25s ease;
}

.textInput {
  display: block;
  width: 100%;
  padding-top: 13.3333333333px;
  border: none;
  border-radius: 5px;
  color: black;
  background: none;
  font-size: 13.3333333333px;
  transition: 0.3s ease;
}
.textInput:valid ~ .textLabel {
  top: 0;
  font: 700 8px Roboto;
  color: rgba(0, 0, 0, 0.5);
}
.textInput:focus {
  outline: none;
  border-bottom-color: #002244;
}
.textInput:focus ~ .textLabel {
  top: 0;
  font: 700 10px Roboto;
  color: #002244;
}
.textInput:focus ~ .bar:before {
  transform: translateX(0);
}

.bar {
  background: #002244;
  width: 200px;
  height: 1px;
  transition: 0.3s ease;
  position: relative;
}
.bar:before {
  content: "";
  position: absolute;
  height: 150%;
  background: #002244;
  transform: translateX(-100%);
}

.datesPassengersCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 20%;
  width: 100%;
}
.datesPassengersCon .datesLabel {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  color: #002244;
}

.tripClass {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  height: 25%;
  width: 100%;
}

.findFlightsButton {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  height: 15%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.findFlightsButton .button {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #002244;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
}
.findFlightsButton .button a {
  font-size: larger;
  text-decoration: none;
  color: #f5f5f5;
}

.extraInfo {
  height: 90%;
  width: 20%;
  background-color: black;
  opacity: 0.5;
}

.contentSpacer {
  height: 70vh;
  width: 100%;
  background-color: #f5f5f5;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.content .contentHeader {
  height: 20%;
  width: 75%;
  background-color: bisque;
}
.content .contentBody {
  height: 80%;
  width: 75%;
  background-color: #f5f5f5;
}

.test {
  background-color: plum;
}


